<div class="createBtn">
    <button [routerLink]="['/create-movie']" routerLinkActive="router-link-active"  class="btn btn-primary">Add New Movie</button>
</div>
<div class="row">
    <div *ngFor="let movie of moviesContainer" class="col-md-4 p-3">
        <div [routerLink]="['/movie-details' , movie.id]" routerLinkActive="router-link-active"  class="movie position-relative">
            <img class="w-100" [src]='imgPrefix + movie.image' alt="" />
            <h4 class="my-2 h6">{{movie.name}}</h4>
            <div class="">{{movie.description}}</div>
            <input type="hidden" name="id" [value]="movie.id" >
            <button [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-info float-start">Update</button>
            <button (click)="deleteMovie($event)" class="btn btn-danger delete-button float-end">Delete</button>
            
        </div>
    </div>
</div>